/* This is An External Style Sheet */

body {
	font-family: arial,helvetica,sans-serif;  
	color: #FFFFFF;
	font-size: 18px; 
	background-color:#414345;
}
img {
    width: 15%;
    height: auto;
}
a:link    { color: #ff0000 }  
a:visited { color:#ff0000 }  
a:hover   { color: white; }  
a:active  { color: white; }  